@charset "UTF-8";
/*
    style config
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
/*
    base
*/
body {
  margin: 0;
  padding: 0;
  color: #2F3136;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: -apple-system, 'SF Pro Display', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  overflow-x: hidden;
}

button,
input {
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

a,
:hover {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.wow {
  visibility: hidden;
  /* for wow animation */
}

/*
    styling start
*/
/* for layout grid */
.itemscout-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding-left: 240px;
  -webkit-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
}

.itemscout-wrap .container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: auto;
}

.itemscout-wrap .container .content {
  border-top: 1px solid #EBF0F6;
}

.itemscout-wrap.collapsed {
  padding-left: 100px;
}

.itemscout-wrap.collapsed .gnb {
  width: 100px;
}

.itemscout-wrap.collapsed .gnb h1 {
  margin: 0;
  padding: 0 36px;
}

.itemscout-wrap.collapsed .gnb h1 img:last-child {
  display: none;
  opacity: 0;
}

.itemscout-wrap.collapsed .gnb nav a {
  margin: 0;
  padding: 16px 36px;
}

.itemscout-wrap.collapsed .gnb nav span {
  display: none;
  opacity: 0;
}

.gnb {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  min-height: 100vh;
  border-right: 1px solid #C8D6E6;
  background: #F6FBFF;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  overflow: hidden;
}

.gnb nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 0;
  border-top: 1px solid #EBF0F6;
}

.gnb nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 24px;
  padding: 16px 24px;
  border: 1px solid transparent;
  color: #001c34;
  line-height: 1;
  text-decoration: none;
  border-radius: 30px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb nav a span {
  padding-left: 10px;
  white-space: nowrap;
}

.gnb nav a .ion {
  width: 24px;
  color: #93afce;
  font-size: 24px;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb nav a:hover {
  color: #0065D4;
}

.gnb nav a:hover .ion {
  color: #268DFF;
}

.gnb nav a:hover [data-icon] {
  background-color: #268DFF;
}

.gnb h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 24px;
  padding: 0 24px;
  border: 1px solid transparent;
  height: 80px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb h1 img {
  height: 24px;
}

.gnb h1 img:last-child {
  margin-left: 10px;
  height: 14px;
}

.gnb .btn-collapse {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 80px;
  background: none;
  border: 1px solid #EBF0F6;
  border-width: 0 0 0 1px;
  text-align: center;
  cursor: col-resize;
}

.gnb .btn-collapse input {
  position: absolute;
  left: -100px;
  top: -100px;
}

.gnb .btn-collapse .ion {
  color: #001c34;
  font-size: 18px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb .btn-collapse:hover {
  background: #FFF;
}

.gnb .btn-collapse:hover .ion {
  color: #001c34;
}

[data-nav=introduce] .gnb .nav-introduce,
[data-nav=membership] .gnb .nav-membership {
  border: 1px solid #EBF0F6;
  background: #FFF;
  color: #001C34;
  font-weight: 700;
}

[data-nav=introduce] .gnb .nav-introduce .ion,
[data-nav=membership] .gnb .nav-membership .ion {
  color: #268DFF;
}

[data-nav=introduce] .gnb .nav-introduce [data-icon],
[data-nav=membership] .gnb .nav-membership [data-icon] {
  background-color: #268DFF;
}

.hero {
  position: relative;
  overflow: hidden;
}

/*
    최상단 .ribbon 리본 영역
    공지사항 큐, 로그인 정보등을 포함함.
*/
.ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  height: 80px;
  font-size: 14px;
  line-height: 80px;
  -webkit-box-shadow: 0 2px #F9F9FA;
          box-shadow: 0 2px #F9F9FA;
}

.ribbon strong {
  color: #001C34;
}

.ribbon strong::after {
  content: '_';
  padding: 0 8px;
  color: #268DFF;
}

.ribbon span {
  color: #636772;
}

.ribbon a {
  color: #268DFF;
}

.ribbon .msg-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  padding: 0 16px;
  height: 32px;
  background: #F2F8FF;
  border-radius: 16px;
  overflow: hidden;
}

.ribbon .msg-card span {
  color: #0065D4;
  font-weight: 300;
}

.ribbon .msg-card .ion {
  margin-left: 8px;
  color: #268DFF;
  font-size: 18px;
}

.ribbon .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
    section
    기본적인 단일 페이지 컨텐츠 스타일링
*/
section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 240px 0;
  overflow: hidden;
}

section .inner {
  margin: 0 auto;
  max-width: 720px;
}

section.hero {
  border-bottom: 1px solid #EBF0F6;
  background: -webkit-gradient(linear, left bottom, left top, from(#F6FBFF), to(#FFF));
  background: linear-gradient(0deg, #F6FBFF, #FFF);
}

section.section {
  padding: 120px 0;
}

section.section .inner {
  max-width: 800px;
}

section.section .section-header {
  margin-bottom: 64px;
}

section.section h2 {
  position: relative;
  margin: 0;
  padding: 0;
  color: #001C34;
  font-size: 56px;
}

section.section h2 .ion {
  display: block;
  margin-bottom: 16px;
  color: #268DFF;
  font-size: 64px;
}

section.section h2 span {
  display: block;
}

section.section h3 {
  margin-bottom: 64px;
  color: #001C34;
  font-size: 32px;
  text-align: center;
}

section.section h3 span {
  display: block;
}

section.section h3 .ion {
  margin-bottom: 8px;
  color: #001c34;
  font-size: 64px;
}

section.section p {
  color: #636772;
  font-weight: 300;
}

section.odd {
  background: #F6FBFF;
}

section .hero-msg {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #001C34;
  font-size: 56px;
}

section .hero-msg span {
  display: block;
  font-weight: 700;
  line-height: 80px;
}

section .hero-msg .hero-input {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 0;
  padding: 20px 30px;
  height: 90px;
  border: 4px solid #268DFF;
  background: #FFF;
  border-radius: 2px;
}

section .hero-msg .hero-input .icon {
  position: absolute;
  right: 28px;
  top: 24px;
  color: #0d80ff;
  font-size: 36px;
}

section .hero-msg .hero-input .hero-input-word {
  display: none;
}

section .hero-msg .hero-input .hero-input-typing {
  display: inline-block;
  color: #001C34;
  font-size: 32px;
  line-height: 40px;
}

section .hero-msg .hero-input .hero-input-typing::after {
  content: '';
  position: relative;
  top: -2px;
  display: inline-block;
  margin-left: 4px;
  height: 36px;
  border-left: 3px solid #636772;
  vertical-align: middle;
  -webkit-animation: cursor 0.35s infinite;
          animation: cursor 0.35s infinite;
}

section .hero-msg .hero-input a {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  color: #0065D4;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
}

section .hero-msg .hero-input:hover {
  border-color: #0065D4;
}

section .hero-msg .hero-input:hover a {
  opacity: 1;
}

section .svg-cloud {
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  text-align: center;
}

section .svg-cloud:before {
  z-index: 1000;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

section .svg-cloud:after {
  z-index: 1000;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(rgba(235, 235, 235, 0)));
  background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(235, 235, 235, 0) 100%);
}

section .svg-cloud .svg-cloud-inner {
  opacity: .4;
  height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

section .svg-cloud svg {
  -webkit-animation: svgs 9.512s linear infinite;
          animation: svgs 9.512s linear infinite;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 8em;
  height: 8em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-filter: blur(5px);
}

section .svg-cloud svg:nth-child(2) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

section .svg-cloud svg:nth-child(3) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-filter: blur(10px);
}

section .svg-cloud svg:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

section .svg-cloud svg:nth-child(5) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

section .svg-cloud svg:nth-child(6) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-filter: blur(10px);
}

section .svg-cloud svg:nth-child(7) {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

section .hero-casestudy {
  position: relative;
  margin-top: 80px;
}

section .hero-casestudy h4 {
  position: absolute;
  left: -32px;
  top: 8px;
  margin: 0;
  color: #636772;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

section .hero-casestudy ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section .hero-casestudy ul li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  margin-top: 10px;
  padding: 0 30px;
  color: #001C34;
  border: 1px solid #EBF0F6;
  background: rgba(255, 255, 255, 0.8);
  line-height: 80px;
  word-break: keep-all;
  border-radius: 4px;
  overflow: hidden;
}

section .hero-casestudy ul li:nth-child(2) {
  width: 100%;
}

section .hero-casestudy ul li .icon {
  opacity: .75;
  padding-left: 2px;
  color: #268DFF;
}

section .hero-casestudy ul li .deco {
  position: absolute;
  right: 12px;
  top: 6px;
  color: #FFF;
  font-size: 100px;
  opacity: .15;
}

section .hero-casestudy ul li span {
  float: left;
  font-size: 18px;
  font-weight: 500;
}

section .hero-casestudy ul li a {
  float: right;
  color: #0065D4;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

section .hero-casestudy ul li:hover {
  z-index: 1;
  background: #268DFF;
  color: #FFF;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border-color: transparent;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 40px #268dff;
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 40px #268dff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

section .hero-casestudy ul li:hover a {
  color: #FFF;
  opacity: .6;
}

section .hero-casestudy ul li:hover a .icon {
  color: #FFF;
  -webkit-animation: arrowmove .5s linear infinite;
          animation: arrowmove .5s linear infinite;
}

section .icon {
  color: #636772;
}

section .svg-illust {
  position: relative;
  width: 320px;
  -webkit-transform: translateX(-80px) translateY(-40px);
          transform: translateX(-80px) translateY(-40px);
  -webkit-animation: svgillust 2s linear infinite alternate;
          animation: svgillust 2s linear infinite alternate;
}

/*
    .contact 컨택트 영역
*/
.contact {
  text-align: center;
}

.contact img {
  width: 300px;
}

.contact h4 {
  margin: 0;
  color: #001C34;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  word-break: keep-all;
}

.contact button {
  margin-top: 20px;
  border: 0;
  width: 240px;
  height: 64px;
  background: #268DFF;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 24px #268dff;
          box-shadow: 0 4px 24px #268dff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.contact button:hover {
  background: #0065D4;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 16px #0065d4;
          box-shadow: 0 2px 16px #0065d4;
}

/*
    .cards > .card 구조
    좌우로 들어오는 카드 디자인
*/
.cards .card {
  position: relative;
  margin-top: 40px;
  padding: 40px 56px;
  -webkit-box-shadow: 0 8px 24px #001c34;
          box-shadow: 0 8px 24px #001c34;
  border-radius: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cards .card header {
  padding-bottom: 8px;
  width: 50%;
  font-size: 24px;
  font-weight: 700;
}

.cards .card article {
  width: 50%;
  color: #636772;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75;
  word-break: keep-all;
}

.cards .card article a {
  display: block;
  margin-top: 12px;
  color: #268DFF;
  text-decoration: none;
}

.cards .card article a .icon {
  color: #268DFF;
  opacity: .6;
}

.cards .card article a:hover {
  font-weight: 700;
}

.cards .card footer {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  padding: 40px;
}

.cards .card footer em {
  display: block;
  color: #268DFF;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 4px;
}

.cards .card footer p {
  display: inline-block;
  margin: 12px 0 0 0;
  padding: 8px 12px;
  background: #001c34;
  color: #001c34;
  font-size: 13px;
  border-radius: 24px;
}

.cards .card::before {
  content: '01';
  position: absolute;
  left: -48px;
  top: 0;
  color: #636772;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.cards .card:nth-of-type(2)::before {
  content: '02';
}

.cards .card:nth-of-type(3)::before {
  content: '03';
}

.cards .card:hover {
  -webkit-transform: translateY(-8px) scale(1.02);
          transform: translateY(-8px) scale(1.02);
  -webkit-box-sizing: 0 8px 24px #001c34;
          box-sizing: 0 8px 24px #001c34;
}

.cards .card:hover::before {
  left: -56px;
  color: #268DFF;
  font-size: 32px;
}

/*
    .pricing 
    가격, 멤버십, 플랜 영역
*/
.pricing .pricing-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pricing .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46%;
  padding: 24px 28px;
  background: #FFF;
  border: 2px solid #EBF0F6;
  border-radius: 8px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pricing .card header {
  margin-bottom: 8px;
  color: #0065D4;
  font-weight: 700;
  font-size: 18px;
}

.pricing .card article {
  color: #001C34;
  font-weight: 300;
  font-size: 13px;
}

.pricing .card footer {
  padding: 16px 0 24px;
}

.pricing .card footer button {
  display: block;
  width: 100%;
  height: 56px;
  border: 0;
  background: #268DFF;
  color: #FFF;
  font-weight: 700;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.pricing .card .price-label {
  margin-bottom: 16px;
  color: #0065D4;
}

.pricing .card .price-label strong {
  font-weight: 700;
  font-size: 24px;
}

.pricing .card .price-label small {
  padding-left: 4px;
  font-weight: 300;
  font-size: 13px;
}

.pricing .card ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #001C34;
}

.pricing .card li {
  margin: 4px 0;
  padding: 0;
}

.pricing .card .ion {
  width: 24px;
  color: #268DFF;
}

.pricing .card:nth-child(2) {
  margin-left: 4%;
  width: 50%;
  border: 2px solid #268DFF;
  background: #F6FBFF;
}

.pricing .card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 8px 24px #EBF0F6;
          box-shadow: 0 8px 24px #EBF0F6;
}

.pricing .card:hover button {
  background: #0065D4;
  -webkit-box-shadow: 0 2px 8px #0065d4;
          box-shadow: 0 2px 8px #0065d4;
}

/*
    .balloons 말풍선들
    좌우로 들어오며 추천사 영역에 쓰임
*/
.balloons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.balloons .balloon {
  position: relative;
  margin: 8px 40px 8px 120px;
  padding: 24px 24px 24px 128px;
  height: 80px;
  background: #FFF;
  color: #001C34;
  -webkit-box-shadow: 0 8px 16px #636772;
          box-shadow: 0 8px 16px #636772;
  border-radius: 8px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.balloons .balloon .avatar {
  position: absolute;
  left: 24px;
  top: 24px;
}

.balloons .balloon header {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
}

.balloons .balloon article {
  font-weight: 300;
  font-size: 15px;
  word-break: keep-all;
}

.balloons .balloon footer {
  z-index: 1;
  position: absolute;
  right: -40px;
  bottom: -24px;
  padding: 6px 16px 8px;
  background: #EBF0F6;
  color: #FBBC05;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
}

.balloons .balloon:nth-child(odd) {
  margin: 8px 120px 8px 40px;
}

.balloons .balloon:hover {
  z-index: 5;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.balloons:hover .balloon {
  opacity: .4;
}

.balloons:hover .balloon:hover {
  opacity: 1;
}

/* 주의사항 */
.caution {
  margin: 120px;
  padding: 16px 32px;
  background: #ebf0f6;
  color: #001c34;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.75;
}

.caution h4 {
  margin: 8px 0;
  padding: 0;
  font-size: 13px;
}

.caution ul {
  list-style: circle;
  margin: 0;
  padding: 0;
}

.caution li {
  margin-left: 24px;
  word-break: keep-all;
}

/* for avatar */
.avatar {
  position: relative;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
}

.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatar .ion-logo-youtube {
  position: absolute;
  right: -4px;
  bottom: -4px;
  color: #FF0000;
  font-size: 24px;
}

/*
    tooltip
    부모 영역 area에 .has-tooltip 클래스를 준 후
    자식요소에 p element가 있을 경우 자동으로 툴팁처리.
*/
.has-tooltip {
  position: relative;
  line-height: 1.75;
}

.has-tooltip strong {
  color: #0065D4;
  font-weight: 500;
  font-size: 15px;
  cursor: help;
}

.has-tooltip strong:hover + p {
  z-index: 1;
  display: block;
  opacity: 1;
}

.has-tooltip p {
  opacity: 0;
  left: 0;
  top: 32px;
  position: absolute;
  margin: 0 28px;
  padding: 16px 24px;
  border: 1px solid #EBF0F6;
  background: #FFF;
  font-size: 13px;
  -webkit-box-shadow: 0 4px 16px #ebf0f6;
          box-shadow: 0 4px 16px #ebf0f6;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

/*
    form styling
    .btn, .form-input, .form-label
    버튼, 인풋, 라벨 등
    .btn 의 경우 .btn.btn-md.btn-kakao 처럼 중첩 선언해서 사용
*/
.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
  height: 56px;
  border: 1px solid #EBF0F6;
  background: #F6FBFF;
  color: #001C34;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 0;
  padding-bottom: 2px;
  width: 100%;
  font-size: 15px;
}

.btn:hover {
  border-color: #001c34;
}

.btn-kakao {
  border-color: #e8ad04;
  background: #FBBC05;
  color: #332601;
}

.btn-kakao:hover {
  background: #fcc72d;
}

.btn-point {
  border-color: #1282ff;
  background: #268DFF;
  color: #FFF;
}

.btn-point:hover {
  background: #1282ff;
  -webkit-box-shadow: 0 2px 8px #268dff;
          box-shadow: 0 2px 8px #268dff;
}

.btn-txt {
  height: inherit;
  border: 0;
  background: none;
  color: #001C34;
  font-weight: 300;
  font-size: 12px;
}

.btn-md {
  height: 32px;
  font-size: 14px;
}

.form-label {
  display: block;
  margin: 8px 0;
  padding: 4px;
  font-size: 13px;
  cursor: pointer;
}

.form-label span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #001C34;
  font-weight: 300;
}

.form-label span::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid #EBF0F6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.form-label input {
  position: absolute;
  left: -100vw;
  top: -100vh;
  opacity: 0;
}

.form-label input:hover + span::before {
  border-color: #001c34;
  background: #F6FBFF;
}

.form-label input:checked + span::before {
  content: '\2713';
  border-color: #0065D4;
  background: #268DFF;
  color: #FFF;
  font-weight: 700;
}

/*
    popup layer
    .blind 와 .layer 를 같이 쓰는 팝업레이어 스타일
*/
.blind {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #001c34;
}

.blind .layer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 400px;
  background: #FFF;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 24px #001c34;
          box-shadow: 0 4px 24px #001c34;
}

.blind .layer header {
  padding: 16px 0;
  background: #F6FBFF;
  color: #001C34;
  font-size: 15px;
  text-align: center;
  border-radius: 2px 2px 0 0;
}

.blind .layer .layer-inner {
  padding: 0 40px;
}

.blind .layer footer {
  margin-top: 24px;
  padding: 16px;
  border-top: 1px dotted #EBF0F6;
  text-align: center;
}

.blind dl {
  margin: 24px 0;
  color: #001C34;
  text-align: center;
}

.blind dl dt {
  font-size: 18px;
}

.blind dl dd {
  margin: 0;
  font-size: 24px;
}

/*
    페이지용 푸터
    저작권 및 사업자, 약관 등의 방침을 고정.
*/
.page-footer {
  margin: 120px auto 0;
  padding: 24px 0 64px;
  border-top: 1px dotted #c8d6e6;
}

.page-footer address {
  color: #001c34;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
}

.page-footer address span {
  display: inline-block;
  margin: 2px;
}

.page-footer a {
  border-bottom: 1px solid transparent;
  color: #001c34;
  font-weight: 500;
  text-decoration: none;
}

.page-footer a:hover {
  border-bottom-color: #c8d6e6;
  color: #268DFF;
}

.page-footer nav {
  margin-top: 24px;
  font-size: 13px;
}

.page-footer nav em {
  color: #0065D4;
  font-style: normal;
}

.page-footer nav a {
  margin-right: 8px;
}

/*
    for animation
*/
@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes svgs {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@keyframes svgs {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@-webkit-keyframes svgillust {
  50% {
    -webkit-transform: translateY(-24px) translate(-80px);
            transform: translateY(-24px) translate(-80px);
  }
}

@keyframes svgillust {
  50% {
    -webkit-transform: translateY(-24px) translate(-80px);
            transform: translateY(-24px) translate(-80px);
  }
}

@-webkit-keyframes arrowmove {
  from {
    padding: 0 6px 0 0;
  }
  to {
    padding: 0 0 0 6px;
  }
}

@keyframes arrowmove {
  from {
    padding: 0 6px 0 0;
  }
  to {
    padding: 0 0 0 6px;
  }
}
