@charset "UTF-8";
/*
    style config
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
/*
    base
*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1280px;
  color: #2F3136;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica','Noto Sans KR', 'Arial' ,sans-serif;
  font-size: 100%;
  line-height: 1.35296;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button,
input {
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001C34;
  font-weight: 700;
  opacity: 1;
  /* Firefox */
}

a,
:hover {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.wow {
  visibility: hidden;
  /* for wow animation */
}

/*
    styling start
*/
/* for layout grid */
.itemscout-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding-left: 240px;
  -webkit-transition: padding .2s ease-in-out;
  transition: padding .2s ease-in-out;
}

.itemscout-wrap .container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: auto;
}

.itemscout-wrap .container .content {
  border-top: 1px solid #EBF0F6;
}

.itemscout-wrap.collapsed {
  padding-left: 100px;
}

.itemscout-wrap.collapsed .gnb {
  width: 100px;
}

.itemscout-wrap.collapsed .gnb h1 {
  margin: 0;
  padding: 0 36px;
}

.itemscout-wrap.collapsed .gnb h1 img:last-child {
  display: none;
  opacity: 0;
}

.itemscout-wrap.collapsed .gnb nav a {
  margin: 0;
  padding: 16px 36px;
}

.itemscout-wrap.collapsed .gnb nav span {
  display: none;
  opacity: 0;
}

.gnb {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  min-height: 100vh;
  border-right: 1px solid #C8D6E6;
  background: #F6FBFF;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  overflow: hidden;
}

.gnb nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 0;
  border-top: 1px solid #EBF0F6;
}

.gnb nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 24px;
  padding: 16px 24px;
  border: 1px solid transparent;
  color: rgba(0, 28, 52, 0.6);
  line-height: 1;
  text-decoration: none;
  border-radius: 30px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb nav a span {
  padding-left: 10px;
  white-space: nowrap;
}

.gnb nav a .ion {
  width: 24px;
  color: #93afce;
  font-size: 24px;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb nav a:hover {
  color: #0065D4;
}

.gnb nav a:hover .ion {
  color: #268DFF;
}

.gnb nav a:hover [data-icon] {
  background-color: #268DFF;
}

.gnb h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 24px;
  padding: 0 24px;
  border: 1px solid transparent;
  height: 80px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb h1 img {
  height: 24px;
}

.gnb h1 img:last-child {
  margin-left: 10px;
  height: 14px;
}

.gnb .btn-collapse {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 80px;
  background: none;
  border: 1px solid #EBF0F6;
  border-width: 0 0 0 1px;
  text-align: center;
  cursor: col-resize;
}

.gnb .btn-collapse input {
  position: absolute;
  left: -100px;
  top: -100px;
}

.gnb .btn-collapse .ion {
  color: rgba(0, 28, 52, 0.4);
  font-size: 18px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gnb .btn-collapse:hover {
  background: #FFF;
}

.gnb .btn-collapse:hover .ion {
  color: rgba(0, 28, 52, 0.75);
}

[data-nav=introduce] .gnb .nav-introduce,
[data-nav=membership] .gnb .nav-membership {
  border: 1px solid #EBF0F6;
  background: #FFF;
  color: #001C34;
  font-weight: 700;
}

[data-nav=introduce] .gnb .nav-introduce .ion,
[data-nav=membership] .gnb .nav-membership .ion {
  color: #268DFF;
}

[data-nav=introduce] .gnb .nav-introduce [data-icon],
[data-nav=membership] .gnb .nav-membership [data-icon] {
  background-color: #268DFF;
}

.hero {
  position: relative;
  overflow: hidden;
}

/*
    최상단 .ribbon 리본 영역
    공지사항 큐, 로그인 정보등을 포함함.
*/
.ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 80px;
  -webkit-box-shadow: 0 2px #F9F9FA;
          box-shadow: 0 2px #F9F9FA;
}

.ribbon strong {
  color: #001C34;
}

.ribbon strong::after {
  content: '_';
  padding: 0 8px;
  color: #268DFF;
}

.ribbon span {
  color: #636772;
}

.ribbon a {
  color: #268DFF;
}

.ribbon .msg-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  padding: 0 16px;
  height: 32px;
  background: #F2F8FF;
  border-radius: 16px;
  overflow: hidden;
}

.ribbon .msg-card span {
  color: #0065D4;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ribbon .msg-card .ion {
  margin-left: 8px;
  color: #268DFF;
  font-size: 18px;
}

.ribbon .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
    section
    기본적인 단일 페이지 컨텐츠 스타일링
*/
section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 180px 0;
  overflow: hidden;
}

section .inner {
  margin: 0 auto;
  max-width: 800px;
}

section.hero {
  border-bottom: 1px solid #EBF0F6;
  background: url("pic/bg06.jpg") no-repeat fixed;
  background-size: cover;
  color: #FFF;
}

section.section {
  padding: 120px 0;
}

section.section .inner {
  max-width: 800px;
}

section.section .section-header {
  margin-bottom: 64px;
}

section.section h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 56px;
}

section.section h2 .ion {
  display: block;
  margin-bottom: 16px;
  font-size: 64px;
}

section.section h2 span {
  display: block;
}

section.section h3 {
  margin-bottom: 64px;
  font-size: 32px;
  text-align: center;
}

section.section h3 span {
  display: block;
}

section.section h3 .ion {
  margin-bottom: 8px;
  color: rgba(0, 28, 52, 0.25);
  font-size: 64px;
}

section.section p {
  color: #636772;
  font-weight: 300;
}

section.odd {
  background: #F6FBFF;
}

section.even {
  padding: 60px 0 80px;
  background: #ecf6ff;
}

section.even h3 {
  margin-bottom: 0;
}

section .hero-msg {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 60px;
  letter-spacing: -0.08px;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

section .hero-msg em {
  display: inline-block;
  margin: 0 0 16px;
  padding: 8px 12px;
  border: 2px solid #16C79E;
  color: #16C79E;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  border-radius: 3px;
}

section .hero-msg span {
  display: block;
  font-weight: 700;
  line-height: 80px;
}

section .hero-msg .hero-input {
  position: relative;
  text-align: center;
  border-radius: 2px;
}

section .hero-msg .hero-input .hero-input-word {
  display: none;
}

section .hero-msg .hero-input .hero-input-typing {
  position: relative;
  height: 80px;
  font-weight: 700;
  line-height: 80px;
  overflow: hidden;
}

section .hero-msg .hero-input .hero-input-typing::after {
  content: '';
  position: relative;
  top: -5px;
  display: inline-block;
  margin-left: 4px;
  height: 64px;
  border-left: 3px solid #FFF;
  vertical-align: middle;
  -webkit-animation: cursor 0.35s infinite;
          animation: cursor 0.35s infinite;
}

section .hero-msg .hero-input a {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  color: #0065D4;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
}

section .hero-casestudy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 80px;
}

section .hero-casestudy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  width: calc(100% + 20px);
  list-style: none;
}

section .hero-casestudy ul li {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  max-width: 50%;
  word-break: keep-all;
}

section .hero-casestudy ul li:nth-child(2) a, section .hero-casestudy ul li:nth-child(3) a {
  background: rgba(22, 199, 158, 0.1);
}

section .hero-casestudy ul li:nth-child(2) a:hover, section .hero-casestudy ul li:nth-child(3) a:hover {
  background: #13b08c;
}

section .hero-casestudy ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 30px 40px;
  background: rgba(0, 28, 52, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
}

section .hero-casestudy ul a:hover {
  z-index: 1;
  background: #268DFF;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
}

section .hero-casestudy ul a:hover span {
  opacity: 1;
}

section .hero-casestudy ul i[data-icon] {
  width: 48px;
  height: 48px;
  -webkit-mask-size: 48px;
          mask-size: 48px;
  background: #FFF;
}

section .hero-casestudy ul strong {
  margin: 16px 0 8px;
  font-weight: 700;
}

section .hero-casestudy ul span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.545;
  opacity: .6;
}

section .hero-casestudy .btn-membership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  margin: 10px;
  min-width: 150px;
  background: #F2F8FF;
  color: #001C34;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

section .hero-casestudy .btn-membership i {
  padding-left: 8px;
}

section .hero-casestudy .btn-membership:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.brand-canvas {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54vw;
  min-height: 980px;
  color: #001C34;
  letter-spacing: -.022em;
  line-height: 1.35296;
}

.brand-canvas.odd {
  background: #F2F8FF;
}

.brand-canvas .brand-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -0.08px;
}

.brand-canvas .brand-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 40px;
  color: rgba(0, 28, 52, 0.8);
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.545;
  font-size: 18px;
}

.brand-canvas .brand-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 12px 22px;
  background: #268DFF;
  height: 48px;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 24px rgba(38, 141, 255, 0.4);
          box-shadow: 0 4px 24px rgba(38, 141, 255, 0.4);
  border-radius: 24px;
}

.brand-canvas .brand-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #0065D4;
  color: #F6FBFF;
  -webkit-box-shadow: 0 2px 16px rgba(0, 101, 212, 0.4);
          box-shadow: 0 2px 16px rgba(0, 101, 212, 0.4);
}

.brand-canvas + section {
  border-top: 1px solid #EBF0F6;
}

.brand-canvas .brand-screen {
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 -360px;
  width: 720px;
  height: 270px;
}

.brand-canvas .brand-screen > div,
.brand-canvas .brand-screen > img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
}

.brand-canvas .brand-screen > div:first-child,
.brand-canvas .brand-screen > img:first-child {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 4px 24px rgba(0, 28, 52, 0.05);
          box-shadow: 0 4px 24px rgba(0, 28, 52, 0.05);
}

.brand-canvas .brand-screen > div:last-child,
.brand-canvas .brand-screen > img:last-child {
  margin-left: -10px;
  margin-bottom: -40px;
}

.brand-graph {
  z-index: -1;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.brand-graph table {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  border-collapse: collapse;
  max-width: var(--chart-width, 100%);
  height: var(--chart-height, 400px);
}

.brand-graph table tbody {
  width: 100%;
  height: var(--chart-height, 400px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brand-graph table tr {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-shadow: 1px 0 rgba(0, 28, 52, 0.05);
          box-shadow: 1px 0 rgba(0, 28, 52, 0.05);
}

.brand-graph table td {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 4px solid #C8D6E6;
  background: #C8D6E6;
  -webkit-clip-path: polygon(0% calc(100% * (1 - var(--start))), 100% calc(100% * (1 - var(--end))), 100% 100%, 0% 100%);
          clip-path: polygon(0% calc(100% * (1 - var(--start))), 100% calc(100% * (1 - var(--end))), 100% 100%, 0% 100%);
}

.brand-graph table td:nth-of-type(1) {
  background: rgba(22, 199, 158, 0.25);
}

.brand-graph table td:nth-of-type(2) {
  background: rgba(0, 101, 212, 0.25);
}

.brand-graph table td:nth-of-type(3) {
  background: rgba(38, 141, 255, 0.25);
}

.brand-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.brand-bubble img {
  width: 64px;
  border-radius: 50%;
}

.brand-bubble img:hover {
  z-index: 1;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.brand-bubble span {
  position: relative;
  background: #F2F8FF;
  margin: 15px;
  padding: 12px 16px;
  color: rgba(0, 28, 52, 0.6);
  font-size: 22px;
  line-height: 1;
  border-radius: 20px;
}

.brand-bubble span::after {
  content: '';
  position: absolute;
  right: -8px;
  bottom: 0;
  border: 12px solid transparent;
  border-color: transparent transparent #F2F8FF #F2F8FF;
}

.brand-bubble span em {
  font-size: 14px;
}

.brand-bubble span:hover {
  z-index: 1;
  position: relative;
  background: #FFF;
  color: #0065D4;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.brand-bubble span:hover::after {
  border-color: transparent transparent #FFF #FFF;
}

.brand-tab {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 720px;
}

.brand-tab input[type=radio] {
  display: none;
}

.brand-tab .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.brand-tab label {
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  color: rgba(99, 103, 114, 0.6);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.brand-tab label + label {
  margin-left: 20px;
}

.brand-tab .panels {
  width: 100%;
  max-width: 720px;
  min-width: 640px;
  height: 250px;
  overflow: hidden;
}

.brand-tab .panel {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadein .5s;
          animation: fadein .5s;
}

.brand-tab input[type=radio]:nth-child(1):checked ~ .panels .panel:nth-child(1),
.brand-tab input[type=radio]:nth-child(2):checked ~ .panels .panel:nth-child(2),
.brand-tab input[type=radio]:nth-child(3):checked ~ .panels .panel:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand-tab input[type=radio]:nth-child(1):checked ~ .tabs label:nth-child(1),
.brand-tab input[type=radio]:nth-child(2):checked ~ .tabs label:nth-child(2),
.brand-tab input[type=radio]:nth-child(3):checked ~ .tabs label:nth-child(3) {
  color: #268DFF;
  border-bottom-color: #268DFF;
}

.brand-tab dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  width: 250px;
  border: 1px solid #EBF0F6;
  background: #FFF;
  font-size: 14px;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 28, 52, 0.05);
          box-shadow: 0 4px 16px rgba(0, 28, 52, 0.05);
}

.brand-tab dl dt,
.brand-tab dl dd {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 25px 10px 30px;
  border-bottom: 1px solid #EBF0F6;
  line-height: 24px;
}

.brand-tab dl dt {
  width: 45%;
  font-size: 14px;
}

.brand-tab dl dd {
  width: 55%;
  text-align: right;
}

.brand-tab dl + dl {
  margin-left: 10px;
}

.brand-tab dl strong {
  font-size: 18px;
}

.brand-tab dl .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #001C34;
  color: #FFF;
  font-size: 10px;
}

.brand-tab dl .bar strong {
  font-size: 10px;
}

.brand-tab dl .bar span:first-child {
  padding-left: 4px;
  width: 17%;
  background: #0065D4;
  white-space: nowrap;
}

.brand-tab dl .bar span:last-child {
  padding-right: 4px;
  width: 83%;
  text-align: right;
}

.brand-tab ul {
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 200px;
  background: #F6FBFF;
  border-radius: 12px;
}

.brand-tab ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 12px;
  color: #636772;
}

.brand-tab ul li:first-child {
  background: #268DFF;
  color: #F6FBFF;
  text-align: center;
  border-radius: 12px 12px 0 0;
}

.brand-tab ul li:first-child strong {
  padding: 2px 0;
  color: #FFF;
}

.brand-tab ul li:nth-child(even) {
  background: #FFF;
}

.brand-tab ul strong {
  color: #001C34;
  font-size: 18px;
}

.brand-tab ul span {
  font-size: 11px;
}

.brand-tab ul em {
  display: inline-block;
  margin-left: 2px;
  padding: 2px 2px;
  border: 1px solid #C8D6E6;
  font-style: normal;
  font-size: 11px;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.brand-tab .table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 24px;
  width: 100%;
  border: 1px solid #EBF0F6;
  background: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  border-radius: 12px;
}

.brand-tab .table .thead,
.brand-tab .table .subhead,
.brand-tab .table .tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand-tab .table .thead em,
.brand-tab .table .subhead em,
.brand-tab .table .tbody em {
  display: inline-block;
  width: 54px;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.brand-tab .table .thead strong {
  font-weight: 700;
}

.brand-tab .table .thead .ion {
  font-size: 18px;
}

.brand-tab .table strong {
  font-weight: 400;
}

.brand-tab .table strong .ion {
  margin-right: 10px;
}

.brand-tab .table .ion {
  color: #C8D6E6;
  font-size: 16px;
  vertical-align: middle;
}

.brand-tab table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

.brand-tab table thead tr:first-child {
  border-bottom: 1px solid #EBF0F6;
}

.brand-tab table thead tr:nth-child(2) {
  color: #636772;
}

.brand-tab table tbody tr {
  height: 50px;
}

.brand-tab table tbody tr:hover {
  z-index: 1;
  position: relative;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.brand-tab table tbody tr:nth-child(odd) {
  background: #F6FBFF;
}

.brand-tab table th,
.brand-tab table td {
  padding: 5px 8px;
  text-align: right;
  white-space: nowrap;
}

.brand-tab table th:first-child, .brand-tab table th:nth-child(2),
.brand-tab table td:first-child,
.brand-tab table td:nth-child(2) {
  text-align: center;
}

.brand-tab table th:nth-child(3),
.brand-tab table td:nth-child(3) {
  text-align: left;
}

.brand-tab table th {
  text-align: left !important;
}

.brand-tab table th[colspan] {
  font-size: 14px;
  text-align: left;
}

.brand-tab table img {
  display: block;
  margin: 0 auto;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.brand-tab .chart {
  z-index: 1;
  position: relative;
  margin: 40px 0 0 -40px;
  padding: 20px;
  width: 240px;
  height: 140px;
  border: 1px solid #C8D6E6;
  background: #FFF;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 28, 52, 0.05);
          box-shadow: 0 4px 16px rgba(0, 28, 52, 0.05);
}

.brand-tab .chart svg {
  display: block;
  width: 100%;
  height: 100%;
}

.brand-tab .up,
.brand-tab .down {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #268DFF;
}

.brand-tab .up::before,
.brand-tab .down::before {
  content: '▲';
  display: inline-block;
  margin: 0 6px 0 12px;
  width: 14px;
  height: 14px;
  background: #F2F8FF;
  font-size: 8px;
  line-height: 14px;
  text-align: center;
  border-radius: 1px;
}

.brand-tab .down {
  color: #FF0000;
}

.brand-tab .down::before {
  content: '▼';
  background: #fff0f0;
}

.brand-tab .bad {
  border-color: rgba(248, 101, 15, 0.2);
  color: #F8650F;
}

.brand-tab .good {
  border-color: rgba(38, 141, 255, 0.2);
  color: #268DFF;
}

.brand-tab .soso {
  border-color: rgba(251, 188, 5, 0.2);
  color: #FBBC05;
}

.brand-tab .nice {
  border-color: rgba(1, 171, 51, 0.2);
  color: #01AB33;
}

.brand-tab .hell {
  border-color: rgba(255, 0, 0, 0.2);
  color: #FF0000;
}

.brand-tab .label {
  display: inline-block;
  padding: 2px;
  width: 32px;
  border: 1px solid rgba(38, 141, 255, 0.2);
  color: #268DFF;
  font-style: normal;
  line-height: 1;
  text-align: center;
  border-radius: 2px;
}

.brand-tab .naver {
  display: inline-block;
  margin: 0 4px 1px 0;
  width: 14px;
  height: 14px;
  background: #01AB33;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.brand-tab .item {
  margin: 40px -1px 0 20px;
  width: 120px;
  border: 1px solid #C8D6E6;
  border-radius: 8px 0 0 8px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 28, 52, 0.05);
          box-shadow: 0 4px 16px rgba(0, 28, 52, 0.05);
}

.screen {
  margin: 0 -5px 0 0;
  min-width: 50%;
}

.screen h4 {
  margin: 0 0 6px;
  font-size: 16px;
}

.screen h4 em {
  color: #636772;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

.screen p {
  margin: 0;
  font-size: 12px;
}

.screen + .screen {
  z-index: -1;
  margin: 40px 0 0 -5px;
}

.brand-school {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.brand-school h4 {
  margin: 0 0 16px;
  max-width: 720px;
  width: 50vw;
  min-width: 360px;
  font-size: 16px;
  text-align: left;
  opacity: .4;
}

.brand-school .carousel {
  max-width: 720px;
  width: 50vw;
  min-width: 360px;
  height: 180px;
}

.brand-school .carousel div :nth-child(odd) .item {
  background: #16C79E;
}

.brand-school .item {
  position: relative;
  height: 180px;
  background: #268DFF;
}

.brand-school .item::before {
  content: '';
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.08);
  -webkit-transition: height 0.2s cubic-bezier(0.17, 0.67, 0.32, 1.34);
  transition: height 0.2s cubic-bezier(0.17, 0.67, 0.32, 1.34);
}

.brand-school .item:hover::before {
  height: 100%;
}

.brand-school .item a {
  z-index: 1;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 60px 30px 30px;
  height: 180px;
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  word-break: keep-all;
  overflow: hidden;
}

.brand-school .item a em {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
}

.brand-school .item a .ion {
  position: absolute;
  right: -10px;
  bottom: -28px;
  font-size: 150px;
  opacity: .15;
}

.brand-school .carousel-control {
  position: absolute;
  bottom: 70px;
  max-width: 720px;
  width: 50vw;
  min-width: 360px;
  height: 40px;
}

.brand-school .carousel-control button {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  color: #001C34;
  font-size: 24px;
  opacity: .25;
  cursor: pointer;
}

.brand-school .carousel-control button:first-child {
  right: inherit;
  left: -40px;
}

.brand-school .carousel-control button:hover {
  opacity: .4;
}

/* FAQ 아코디언 */
.faq {
  margin-top: 40px;
  max-width: 640px;
  border: 1px solid #EBF0F6;
  background: #FFF;
  border-radius: 16px;
}

.faq .faq-item {
  position: relative;
  border-top: 1px solid #EBF0F6;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.faq .faq-item input {
  display: none;
}

.faq .faq-item label {
  display: block;
  padding: 16px 24px;
  background: #FFF;
  color: rgba(0, 28, 52, 0.6);
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.faq .faq-item label .ion {
  margin-right: 8px;
  color: #C8D6E6;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.faq .faq-item div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  background: #F6FBFF;
  color: rgba(0, 28, 52, 0.8);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75;
  overflow: hidden;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.faq .faq-item :checked + label {
  color: #001C34;
  font-weight: 700;
}

.faq .faq-item :checked + label .ion {
  color: #268DFF;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq .faq-item :checked ~ div {
  margin: 0 16px 16px;
  padding: 16px 24px;
  height: inherit;
}

.faq .faq-item:first-child {
  border-top: 0;
  border-radius: 16px 16px 0 0;
}

.faq .faq-item:last-child {
  border-radius: 0 0 16px 16px;
}

.faq .faq-item:hover {
  z-index: 5;
  -webkit-box-shadow: 0 8px 16px rgba(99, 103, 114, 0.1);
          box-shadow: 0 8px 16px rgba(99, 103, 114, 0.1);
}

[data-canvas='keyword'] .brand-screen:hover img {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

[data-canvas='keyword'] .brand-screen:hover img:first-child {
  -webkit-transform: translateY(40px) translateX(40px);
          transform: translateY(40px) translateX(40px);
}

[data-canvas='keyword'] .brand-screen:hover img:last-child {
  z-index: 1;
  -webkit-transform: scale(1.05) translateY(0) translateX(0);
          transform: scale(1.05) translateY(0) translateX(0);
}

.emoji::before {
  content: '💎';
  margin-bottom: 20px;
  font-size: 64px;
}

.emoji[data-emoji='okay']::before {
  content: '🙆🏻‍♂️';
}

.emoji[data-emoji='teacher']::before {
  content: '👨🏻‍🏫';
}

.emoji[data-emoji='medal']::before {
  content: '🕶';
}

.emoji[data-emoji='writing']::before {
  content: '✉️';
  margin-bottom: 0;
}

.emoji[data-emoji='faq']::before {
  content: '📖';
  margin-bottom: 0;
}

.arrow::after {
  content: '⇀';
  font-weight: 500;
  font-family: 'open-arrow', Helvetica, sans-serif;
  -webkit-transition: width .15s ease;
  transition: width .15s ease;
  overflow: hidden;
}

.arrow[data-arrow='right']::after {
  margin-left: 6px;
}

/*
    .contact 컨택트 영역
*/
#contact {
  position: relative;
  padding: 100px 0;
  min-height: inherit;
  text-align: center;
}

#contact .contact {
  margin: 0 60px;
  padding: 30px 40px 40px;
  background: #FFF;
  border-radius: 16px;
}

#contact h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  color: #001C34;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.543;
  text-align: center;
  word-break: keep-all;
  opacity: .8;
}

#contact button {
  margin-top: 30px;
  padding: 9px 40px 12px;
  height: 48px;
  border: 0;
  background: #268DFF;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  border-radius: 24px;
  -webkit-box-shadow: 0 4px 24px rgba(38, 141, 255, 0.4);
          box-shadow: 0 4px 24px rgba(38, 141, 255, 0.4);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#contact button:hover {
  background: #0065D4;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 2px 16px rgba(0, 101, 212, 0.4);
          box-shadow: 0 2px 16px rgba(0, 101, 212, 0.4);
}

#contact button .ion {
  opacity: .4;
}

/*
    페이지용 푸터
    저작권 및 사업자, 약관 등의 방침을 고정.
*/
.page-footer {
  margin: 80px auto 0;
  padding: 30px 0 64px;
  border-top: 1px dotted #c8d6e6;
}

.page-footer address {
  color: rgba(0, 28, 52, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.page-footer address span {
  display: inline-block;
  margin: 2px;
}

.page-footer a {
  border-bottom: 1px solid transparent;
  color: rgba(0, 28, 52, 0.6);
  font-weight: 600;
  text-decoration: none;
}

.page-footer a:hover {
  border-bottom-color: #c8d6e6;
  color: #268DFF;
}

.page-footer nav {
  margin-top: 24px;
  font-size: 13px;
}

.page-footer nav em {
  color: #0065D4;
  font-style: normal;
}

.page-footer nav a {
  margin-right: 8px;
}

/*
    form styling
    .btn, .form-input, .form-label
    버튼, 인풋, 라벨 등
    .btn 의 경우 .btn.btn-md.btn-kakao 처럼 중첩 선언해서 사용
*/
.btn {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
  height: 56px;
  border: 1px solid #EBF0F6;
  background: #F6FBFF;
  color: #001C34;
  white-space: nowrap;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 0;
  padding-bottom: 2px;
  width: 100%;
  font-size: 15px;
}

.btn:hover {
  border-color: rgba(0, 28, 52, 0.25);
}

.btn-kakao {
  border-color: #e8ad04;
  background: #FBBC05;
  color: #332601;
}

.btn-kakao:hover {
  background: #fcc72d;
}

.btn-point {
  border-color: #1282ff;
  background: #268DFF;
  color: #FFF;
}

.btn-point:hover {
  border-color: #0078fc;
  background: #1282ff;
  -webkit-box-shadow: 0 2px 8px rgba(38, 141, 255, 0.25);
          box-shadow: 0 2px 8px rgba(38, 141, 255, 0.25);
}

.btn-txt {
  margin: 0 4px;
  padding: 0;
  height: auto;
  border: 0;
  border-bottom: 1px solid #C8D6E6;
  background: none;
  color: #001C34;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
}

.btn-md {
  height: 32px;
  font-size: 14px;
}

.btn-jumper {
  z-index: 1;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 48px;
  color: #636772;
  font-weight: 100;
  font-size: 24px;
  font-family: 'open-arrow', Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  opacity: .4;
  cursor: pointer;
}

.btn-jumper:hover {
  top: 36px;
  color: #268DFF;
  opacity: 1;
}

.btn-jumper::before {
  content: '다음';
  display: block;
  width: 48px;
  margin-bottom: 4px;
  font-weight: 700;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica','Noto Sans KR', 'Arial' ,sans-serif;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

#contact .btn-jumper::before {
  content: '처음';
}

/*
    for animation
*/
@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes svgs {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@keyframes svgs {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@-webkit-keyframes svgillust {
  50% {
    -webkit-transform: translateY(-24px) translate(-80px);
            transform: translateY(-24px) translate(-80px);
  }
}

@keyframes svgillust {
  50% {
    -webkit-transform: translateY(-24px) translate(-80px);
            transform: translateY(-24px) translate(-80px);
  }
}

@-webkit-keyframes arrowmove {
  from {
    padding: 0 6px 0 0;
  }
  to {
    padding: 0 0 0 6px;
  }
}

@keyframes arrowmove {
  from {
    padding: 0 6px 0 0;
  }
  to {
    padding: 0 0 0 6px;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'open-arrow';
  src: url("font/OpenArrow-Regular.eot") format("embedded-opentype"), url("font/OpenArrow-Regular.woff2") format("woff2"), url("font/OpenArrow-Regular.woff") format("woff"), url("font/OpenArrow-Regular.otf") format("opentype"), url("font/OpenArrow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+2190-21ff;
}
/*# sourceMappingURL=brandnew.css.map */