/*
    style config
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
$txt-navy: #001C34;
$txt-gray: #636772;
$txt-dark: #2F3136;
$blue: #268DFF;
$darkblue: #0065D4;
$bgblue: #F2F8FF;
$bg: #F6FBFF;
$border: #EBF0F6;
$border-deep: #C8D6E6;
$youtube: #FF0000;
$yellow: #FBBC05;
$orange: #F8650F;
$teal: #16C79E;

/*
    base
*/

body {
    margin: 0;
    padding: 0;
    min-width: 1280px;
    color: $txt-dark;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: -apple-system, 'SF Pro Display', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    overflow-x: hidden;
}

button,
input {
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $txt-navy;
    font-weight: 700;
    opacity: 1;
    /* Firefox */
}

a,
:hover {
    transition: all .2s ease-in;
}

.wow {
    visibility: hidden;
    /* for wow animation */
}


/*
    styling start
*/


/* for layout grid */

.itemscout-wrap {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding-left: 240px;
    transition: padding .2s ease-in-out;
    .container {
        flex: 1;
        position: relative;
        width: auto;
        .content {
            border-top: 1px solid $border;
        }
    }
    &.collapsed {
        padding-left: 100px;
        .gnb {
            width: 100px;
            h1 {
                margin: 0;
                padding: 0 36px;
                img:last-child {
                    display: none;
                    opacity: 0;
                }
            }
            nav {
                a {
                    margin: 0;
                    padding: 16px 36px;
                }
                span {
                    display: none;
                    opacity: 0;
                }
            }
        }
    }
}

.gnb {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 240px;
    min-height: 100vh;
    border-right: 1px solid $border-deep;
    background: $bg;
    font-weight: 500;
    font-size: 14px;
    transition: width .2s ease-in-out;
    overflow: hidden;
    nav {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        border-top: 1px solid $border;
        a {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            margin: 0 24px;
            padding: 16px 24px;
            border: 1px solid transparent;
            color: rgba($txt-navy, 60%);
            line-height: 1;
            text-decoration: none;
            border-radius: 30px;
            transition: all .2s ease-in-out;
            span {
                padding-left: 10px;
                white-space: nowrap;
            }
            .ion {
                width: 24px;
                color: darken($border-deep, 15%);
                font-size: 24px;
                text-align: center;
                transition: all .2s ease-in-out;
            }
            &:hover {
                color: $darkblue;
                .ion {
                    color: $blue;
                }
                [data-icon] {
                    background-color: $blue;
                }
            }
        }
    }
    h1 {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 0 24px;
        padding: 0 24px;
        border: 1px solid transparent;
        height: 80px;
        transition: all .2s ease-in-out;
        img {
            height: 24px;
            &:last-child {
                margin-left: 10px;
                height: 14px;
            }
        }
    }
    .btn-collapse {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        box-sizing: border-box;
        width: 24px;
        height: 80px;
        background: none;
        border: 1px solid $border;
        border-width: 0 0 0 1px;
        text-align: center;
        cursor: col-resize;
        input {
            position: absolute;
            left: -100px;
            top: -100px;
        }
        .ion {
            color: rgba($txt-navy, 40%);
            font-size: 18px;
            transform: rotate(90deg);
            transition: all .2s ease-in-out;
        }
        &:hover {
            background: #FFF;
            .ion {
                color: rgba($txt-navy, 75%);
            }
        }
    }
}

[data-nav=introduce] .gnb .nav-introduce,
[data-nav=membership] .gnb .nav-membership {
    border: 1px solid $border;
    background: #FFF;
    color: $txt-navy;
    font-weight: 700;
    .ion {
        color: $blue;
    }
    [data-icon] {
        background-color: $blue;
    }
}

.hero {
    position: relative;
    overflow: hidden;
    // &:before {
    //     content: url('svg/bg-chart.svg');
    //     position: absolute;
    //     right: 150px;
    //     bottom: 0;
    //     width: 720px;
    //     opacity: 0.4;
    // }
}


/*
    최상단 .ribbon 리본 영역
    공지사항 큐, 로그인 정보등을 포함함.
*/

.ribbon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 80px;
    font-size: 14px;
    line-height: 80px;
    box-shadow: 0 2px #F9F9FA;
    strong {
        color: $txt-navy;
        &::after {
            content: '_';
            padding: 0 8px;
            color: $blue;
        }
    }
    span {
        color: $txt-gray;
    }
    a {
        color: $blue;
    }
    .msg-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
        padding: 0 16px;
        height: 32px;
        background: $bgblue;
        border-radius: 16px;
        overflow: hidden;
        span {
            color: $darkblue;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .ion {
            margin-left: 8px;
            color: $blue;
            font-size: 18px;
        }
    }
    .account {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


/*
    section
    기본적인 단일 페이지 컨텐츠 스타일링
*/

section {
    box-sizing: border-box;
    padding: 240px 0;
    overflow: hidden;
    .inner {
        margin: 0 auto;
        max-width: 800px;
    }
    &.hero {
        border-bottom: 1px solid $border;
        background: linear-gradient(0deg, $bg, #FFF);
    }
    &.section {
        padding: 120px 0;
        .inner {
            max-width: 800px;
        }
        .section-header {
            margin-bottom: 64px;
        }
        h2 {
            position: relative;
            margin: 0;
            padding: 0;
            color: $txt-navy;
            font-size: 56px;
            .ion {
                display: block;
                margin-bottom: 16px;
                color: $blue;
                font-size: 64px;
            }
            span {
                display: block;
            }
        }
        h3 {
            margin-bottom: 64px;
            color: $txt-navy;
            font-size: 32px;
            text-align: center;
            span {
                display: block;
            }
            .ion {
                margin-bottom: 8px;
                color: rgba($txt-navy, 25%);
                font-size: 64px;
            }
        }
        p {
            color: $txt-gray;
            font-weight: 300;
        }
    }
    &.odd {
        background: $bg;
    }
    &.even {
        padding: 60px 0 80px;
        background: darken($bg, 2%);
        h3 {
            margin-bottom: 0;
        }
    }
    .hero-msg {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        color: $txt-navy;
        font-size: 56px;
        span {
            display: block;
            font-weight: 700;
            line-height: 80px;
        }
        .hero-input {
            position: relative;
            box-sizing: border-box;
            margin: 40px 0;
            padding: 20px 30px;
            height: 90px;
            border: 4px solid $blue;
            background: #FFF;
            border-radius: 2px;
            .icon {
                position: absolute;
                right: 28px;
                top: 24px;
                color: darken($blue, 5%);
                font-size: 36px;
            }
            .hero-input-word {
                display: none;
            }
            .hero-input-typing {
                position: absolute;
                display: inline-flex;
                color: $txt-navy;
                font-size: 32px;
                line-height: 48px;
                &::after {
                    content: '';
                    position: relative;
                    top: 5px;
                    display: inline-block;
                    margin-left: 4px;
                    height: 36px;
                    border-left: 3px solid $txt-gray;
                    vertical-align: middle;
                    animation: cursor 0.35s infinite;
                }
            }
            a {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FFF;
                color: $darkblue;
                font-size: 32px;
                line-height: 80px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
    .svg-cloud {
        z-index: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100%;
        text-align: center;
        &:before {
            z-index: 1000;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 60vh;
            background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.00) 100%);
        }
        &:after {
            z-index: 1000;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 20vh;
            background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(235, 235, 235, 0.00) 100%);
        }
        .svg-cloud-inner {
            opacity: .4;
            height: 110%;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
        }
        svg {
            animation: svgs 9.512s linear infinite;
            align-self: flex-end;
            width: 8em;
            height: 8em;
            transform: translateY(100%);
            filter: blur(5px);
            &:nth-child(2) {
                transform: scale(1.2);
                animation-delay: 1s;
                animation-duration: 20s;
            }
            &:nth-child(3) {
                transform: scale(0.8);
                animation-delay: 1.5s;
                animation-duration: 10s;
                filter: blur(10px);
            }
            &:nth-child(4) {
                animation-delay: 0.5s;
                animation-duration: 15s;
            }
            &:nth-child(5) {
                transform: scale(1.2);
                animation-delay: 4s;
                animation-duration: 12s;
            }
            &:nth-child(6) {
                transform: scale(1);
                animation-delay: 2s;
                animation-duration: 10s;
                filter: blur(10px);
            }
            &:nth-child(7) {
                transform: scale(0.6);
                animation-duration: 15s;
            }
        }
    }
    .hero-casestudy {
        position: relative;
        margin-top: 80px;
        h4 {
            position: absolute;
            left: -32px;
            top: 8px;
            margin: 0;
            color: $txt-gray;
            font-size: 14px;
            letter-spacing: 1px;
            transform: rotate(90deg);
            transform-origin: 0 0;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                position: relative;
                box-sizing: border-box;
                width: 75%;
                margin-top: 10px;
                padding: 0 30px;
                color: $txt-navy;
                border: 1px solid $border;
                background: rgba(255, 255, 255, .8);
                line-height: 80px;
                word-break: keep-all;
                border-radius: 4px;
                overflow: hidden;
                &:nth-child(2) {
                    width: 100%;
                }
                .icon {
                    opacity: .75;
                    padding-left: 2px;
                    color: $blue;
                }
                .deco {
                    position: absolute;
                    right: 12px;
                    top: 6px;
                    color: #FFF;
                    font-size: 100px;
                    opacity: .15;
                }
                span {
                    float: left;
                    font-size: 18px;
                    font-weight: 500;
                }
                a {
                    float: right;
                    color: $darkblue;
                    font-weight: 300;
                    font-size: 15px;
                    text-decoration: none;
                }
                &:hover {
                    z-index: 1;
                    background: $blue;
                    color: #FFF;
                    cursor: pointer;
                    transform: scale(1.05);
                    border-color: transparent;
                    box-shadow: inset 0 0 1px rgba(0, 0, 0, .1), 0 8px 40px rgba($blue, 60%);
                    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
                    transition: all .2s ease-in;
                    a {
                        color: #FFF;
                        opacity: .6;
                        .icon {
                            color: #FFF;
                            animation: arrowmove .5s linear infinite;
                        }
                    }
                }
            }
        }
    }
    .icon {
        color: $txt-gray;
    }
    .svg-illust {
        position: relative;
        width: 320px;
        transform: translateX(-80px) translateY(-40px);
        animation: svgillust 2s linear infinite alternate;
    }
}


/*
    .contact 컨택트 영역
*/

.contact {
    text-align: center;
    img {
        width: 300px;
    }
    h4 {
        margin: 0;
        color: $txt-navy;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        word-break: keep-all;
    }
    button {
        margin-top: 20px;
        border: 0;
        width: 240px;
        height: 64px;
        background: $blue;
        color: #FFF;
        font-size: 18px;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 4px 24px rgba($blue, 40%);
        transition: all .2s ease;
        &:hover {
            background: $darkblue;
            transform: translateY(2px);
            box-shadow: 0 2px 16px rgba($darkblue, 40%);
        }
    }
}


/*
    .cards > .card 구조
    좌우로 들어오는 카드 디자인
*/

.cards {
    .card {
        position: relative;
        margin-top: 40px;
        padding: 40px 56px;
        box-shadow: 0 8px 24px rgba($txt-navy, 8%);
        border-radius: 16px;
        transform: translateY(0);
        transition: all .2s ease-in-out;
        header {
            padding-bottom: 8px;
            width: 50%;
            font-size: 24px;
            font-weight: 700;
        }
        article {
            width: 50%;
            color: $txt-gray;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.75;
            word-break: keep-all;
            a {
                display: block;
                margin-top: 12px;
                color: $blue;
                text-decoration: none;
                .icon {
                    color: $blue;
                    opacity: .6;
                }
                &:hover {
                    font-weight: 700;
                }
            }
        }
        footer {
            position: absolute;
            right: 0;
            top: 0;
            width: 40%;
            padding: 40px;
            em {
                display: block;
                color: $blue;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 4px;
            }
            p {
                display: inline-block;
                margin: 12px 0 0 0;
                padding: 8px 12px;
                background: rgba($txt-navy, 4%);
                color: rgba($txt-navy, 60%);
                font-size: 13px;
                border-radius: 24px;
            }
        }
        &::before {
            content: '01';
            position: absolute;
            left: -48px;
            top: 0;
            color: rgba($txt-gray, 15%);
            font-size: 24px;
            font-weight: 700;
            transition: all .2s ease;
        }
        &:nth-of-type(2) {
            &::before {
                content: '02';
            }
        }
        &:nth-of-type(3) {
            &::before {
                content: '03';
            }
        }
        &:hover {
            transform: translateY(-8px) scale(1.02);
            box-sizing: 0 8px 24px rgba($txt-navy, 12%);
            &::before {
                left: -56px;
                color: $blue;
                font-size: 32px;
            }
        }
    }
}


/*
    .pricing 
    가격, 멤버십, 플랜 영역
*/

.pricing {
    .pricing-plan {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        &::after {
            content: '(부가세 별도)';
            position: absolute;
            right: 0;
            bottom: -32px;
            color: rgba($txt-navy, 60%);
            font-weight: 300;
            font-size: 12px;
        }
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 24px 28px;
        border: 2px solid $border;
        background: #FFF;
        box-shadow: 0 16px 24px $bg;
        transition: all .2s ease-in-out;
        header {
            margin-bottom: 16px;
            color: $txt-navy;
            font-weight: 700;
            font-size: 18px;
            p {
                margin: 8px 0 0;
                color: $txt-navy;
                font-weight: 300;
                font-size: 13px;
            }
        }
        .price-label {
            margin-bottom: 16px;
            color: $darkblue;
            strong {
                font-weight: 700;
                font-size: 24px;
            }
            small {
                padding-left: 4px;
                font-weight: 300;
                font-size: 13px;
            }
        }
        .btn {
            display: block;
            margin-bottom: 24px;
            width: 100%;
            height: 56px;
            border: 0;
            background: $blue;
            color: #FFF;
            font-weight: 700;
            font-size: 14px;
            border-radius: 2px;
            cursor: pointer;
            transition: all .2s ease;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: $txt-navy;
            font-size: 14px;
            line-height: 1.75;
        }
        li {
            display: flex;
            align-items: center;
            margin: 4px 0;
            padding: 0;
        }
        .ion {
            margin-right: 4px;
            width: 24px;
            color: $border-deep;
            font-size: 22px;
        }
        &:nth-child(1) {
            border-right-style: dotted;
            border-radius: 8px 0 0 8px;
        }
        &:nth-child(2) {
            border-color: $border transparent;
        }
        &:nth-child(3) {
            border-left-style: dotted;
            border-radius: 0 8px 8px 0;
        }
        &:hover {
            z-index: 5;
            transform: scale(1.05);
            border: 2px solid $border-deep;
            background: $bg;
            border-radius: 8px;
            box-shadow: 0 8px 24px $border;
            .btn {
                background: $darkblue;
                box-shadow: 0 2px 8px rgba($darkblue, 40%);
            }
        }
        &.disabled {
            cursor: not-allowed;
            &:hover {
                transform: none;
                border: 2px solid $border;
                background: #FFF;
                border-radius: 8px 0 0 8px;
                box-shadow: none;
            }
        }
    }
}

.ranking-stalker {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    padding: 16px 24px;
    width: 320px;
    border: 1px solid $border;
    border-top: 0;
    background: $bg;
    color: $txt-navy;
    border-radius: 0 0 8px 8px;
    header {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    .ranger-slider {
        position: relative;
        display: flex;
        align-items: center;
        height: 30px;
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background: $border-deep;
            border-radius: 2px;
        }
        .ranger-fill {
            z-index: 1;
            position: relative;
            min-width: 18.75%;
            height: 4px;
            background: $blue;
            border-radius: 2px;
            transition: width .2s ease-in-out;
            .ranger-dot {
                position: absolute;
                right: -8px;
                top: -6px;
                box-sizing: border-box;
                width: 16px;
                height: 16px;
                border: 1px solid $darkblue;
                background: #FFF;
                border-radius: 8px;
                cursor: pointer;
            }
        }
        .balloon-tutorial {
            z-index: 5;
            position: absolute;
            left: calc(18.75% + 20px);
            top: 0;
            display: flex;
            align-items: center;
            padding: 0 10px;
            width: auto;
            height: 30px;
            background: $teal;
            color: #FFF;
            font-size: 13px;
            white-space: nowrap;
            border-radius: 3px;
            box-shadow: 0 4px 12px rgba($teal, 40%);
            &:before {
                content: '';
                z-index: 5;
                position: absolute;
                left: -8px;
                top: calc(50% - 4px);
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-right-color: $teal;
            }
        }
    }
    .ranger-level {
        display: flex;
    }
    label {
        display: flex;
        flex: 1;
        flex-direction: column;
        cursor: pointer;
        input {
            display: none;
            &~span {
                opacity: .4;
                justify-content: center;
            }
            &:checked~span {
                opacity: 1;
                font-weight: 700;
            }
        }
        span {
            display: flex;
            align-items: center;
            height: 16px;
            font-size: 11px;
            transition: opacity .2s ease-in-out;
        }
    }
}


/*
    멤버십 비교 테이블
*/

.pricing-table {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    h4 {
        padding: 16px 0;
        border-bottom: 2px solid $border;
        color: $txt-navy;
        font-size: 14px;
    }
    .table-column {
        flex-grow: 1;
        text-align: center;
        &:first-child {
            text-align: left;
        }
    }
    .table-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        .ion {
            color: $blue;
            font-size: 18px;
        }
        &:nth-child(even) {
            background: $bg;
        }
    }
    .table-th {
        display: flex;
        align-items: center;
        padding-left: 16px;
        height: 40px;
        color: $txt-navy;
        font-size: 14px;
        &:nth-child(even) {
            background: $bg;
        }
    }
    small {
        margin-left: 4px;
        color: rgba($txt-navy, 60%);
        font-weight: 300;
        font-size: 11px;
    }
}


/*
    .balloons testimonial
    추천사 메시지 롤링 카드 디자인
*/

.balloon-wrap {
    position: relative;
    button {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -24px;
        height: 48px;
        width: 48px;
        border: 0;
        background: #FFF;
        color: $blue;
        font-size: 24px;
        border-radius: 4px;
        box-shadow: 0 8px 16px rgba($txt-gray, 10%);
        transition: all .2s ease-in-out;
        cursor: pointer;
        &.balloon-next {
            left: inherit;
            right: 0;
        }
        &:hover {
            transform: scale(1.15);
            color: $darkblue;
        }
    }
}

.balloon-item {
    padding: 24px 0;
    .balloon {
        position: relative;
        margin: 0 24px;
        padding: 24px 24px 24px 128px;
        height: 80px;
        background: #FFF;
        color: $txt-navy;
        box-shadow: 0 8px 16px rgba($txt-gray, 10%);
        border-radius: 8px;
        transition: all .2s ease-in-out;
        .avatar {
            position: absolute;
            left: 24px;
            top: 24px;
        }
        header {
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 18px;
        }
        article {
            font-weight: 300;
            font-size: 15px;
            word-break: keep-all;
        }
        footer {
            z-index: 1;
            position: absolute;
            right: 24px;
            top: 24px;
            color: $yellow;
            font-size: 18px;
            text-align: center;
        }
    }
}


/* FAQ 아코디언 */

.faq {
    border: 1px solid $border;
    background: #FFF;
    border-radius: 16px;
    .faq-item {
        position: relative;
        border-top: 1px solid $border;
        transition: all .2s ease-in-out;
        overflow: hidden;
        input {
            display: none;
        }
        label {
            display: block;
            padding: 16px 24px;
            background: #FFF;
            color: rgba($txt-navy, 60%);
            font-weight: 500;
            font-size: 18px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            .ion {
                margin-right: 8px;
                color: $border-deep;
                transition: all .2s ease;
            }
        }
        div {
            box-sizing: border-box;
            height: 0;
            background: $bg;
            color: rgba($txt-navy, 80%);
            font-size: 15px;
            font-weight: 300;
            line-height: 1.75;
            overflow: hidden;
            transition: height .2s ease-in-out;
        }
         :checked+label {
            color: $txt-navy;
            font-weight: 700;
            .ion {
                color: $blue;
                transform: rotate(90deg);
            }
        }
         :checked~div {
            margin: 0 16px 16px;
            padding: 16px 24px;
            height: inherit;
        }
        &:first-child {
            border-top: 0;
            border-radius: 16px 16px 0 0;
        }
        &:last-child {
            border-radius: 0 0 16px 16px;
        }
        &:hover {
            z-index: 5;
            box-shadow: 0 8px 16px rgba($txt-gray, 10%);
        }
    }
}


/* 주의사항 */

.caution {
    margin: 120px;
    padding: 16px 32px;
    background: rgba($border, 40%);
    color: rgba($txt-navy, 80%);
    font-weight: 300;
    font-size: 13px;
    line-height: 1.75;
    h4 {
        margin: 8px 0;
        padding: 0;
        font-size: 13px;
    }
    ul {
        list-style: circle;
        margin: 0;
        padding: 0;
    }
    li {
        margin-left: 24px;
        word-break: keep-all;
    }
}


/* for avatar */

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    img {
        width: 80px;
    }
    .ion-logo-youtube {
        position: absolute;
        right: -4px;
        bottom: -4px;
        color: $youtube;
        font-size: 24px;
    }
}


/*
    tooltip
    부모 영역 area에 .has-tooltip 클래스를 준 후
    자식요소에 p element가 있을 경우 자동으로 툴팁처리.
*/

.has-tooltip {
    position: relative;
    strong {
        font-weight: inherit;
        cursor: help;
    }
    p {
        opacity: 0;
        left: 0;
        top: 32px;
        position: absolute;
        margin: 0;
        padding: 12px 16px;
        border: 1px solid $border;
        background: #FFF;
        color: rgba($txt-navy, 80%) !important;
        font-size: 12px;
        line-height: 1.5;
        word-break: keep-all;
        box-shadow: 0 4px 16px rgba($border, 50%);
        transition: all .2s ease;
    }
    &:hover p {
        z-index: 1;
        display: block;
        opacity: 1;
    }
}


/*
    form styling
    .btn, .form-input, .form-label
    버튼, 인풋, 라벨 등
    .btn 의 경우 .btn.btn-md.btn-kakao 처럼 중첩 선언해서 사용
*/

.btn {
    position: relative;
    box-sizing: border-box;
    padding: 0 12px;
    height: 56px;
    border: 1px solid $border;
    background: $bg;
    color: $txt-navy;
    white-space: nowrap;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px 0;
        padding-bottom: 2px;
        width: 100%;
        font-size: 15px;
    }
    &:hover {
        border-color: rgba($txt-navy, 25%);
    }
    &-kakao {
        border-color: darken($yellow, 4%);
        background: $yellow;
        color: darken($yellow, 40%);
        &:hover {
            background: lighten($yellow, 8%);
        }
    }
    &-point {
        border-color: darken($blue, 4%);
        background: $blue;
        color: #FFF;
        &:hover {
            background: darken($blue, 4%);
            box-shadow: 0 2px 8px rgba($blue, 40%);
        }
    }
    &-txt {
        margin: 0 4px;
        padding: 0;
        height: auto;
        border: 0;
        border-bottom: 1px solid $border-deep;
        background: none;
        color: $txt-navy;
        font-weight: 300;
        font-size: 12px;
        text-decoration: none;
    }
    &-md {
        height: 32px;
        font-size: 14px;
    }
}

.form-label {
    display: block;
    margin: 8px 0;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
    span {
        position: relative;
        display: flex;
        color: $txt-navy;
        font-weight: 300;
        &::before {
            content: '';
            display: flex;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border: 1px solid $border;
            font-size: 1px;
            justify-content: center;
            border-radius: 2px;
            transition: all .2s ease-in-out;
        }
    }
    input {
        position: absolute;
        left: -100vw;
        top: -100vh;
        opacity: 0;
        &:hover+span::before {
            border-color: rgba($txt-navy, 25%);
            background: $bg;
        }
    }
    input:checked+span::before {
        content: '\2713';
        border-color: $darkblue;
        background: $blue;
        color: #FFF;
        font-weight: 500;
        font-size: 16px;
    }
}

.label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: text-top;
    margin: 0 4px;
    padding: 0 4px;
    height: 18px;
    border: 1px solid $border-deep;
    background: $bg;
    color: rgba($txt-navy, 60%);
    font-weight: 700;
    font-size: 11px;
    line-height: 1;
    border-radius: 2px;
    &-float {
        position: absolute;
        left: -4px;
        top: -4px;
    }
}


/* disabled 비활성 폼, 섹션 스타일링 */

:disabled,
.is-disabled {
    opacity: .4;
    cursor: default;
}

:disabled:hover {
    border: inherit;
    background: inherit;
    cursor: default;
}


/*
    popup layer
    .blind 와 .layer 를 같이 쓰는 팝업레이어 스타일
*/

.blind {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba($txt-navy, 25%);
    .layer {
        box-sizing: border-box;
        max-width: 400px;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 4px 24px rgba($txt-navy, 10%);
        header {
            padding: 16px 0;
            background: $bg;
            color: $txt-navy;
            font-size: 15px;
            text-align: center;
            border-radius: 2px 2px 0 0;
        }
        .layer-inner {
            padding: 0 40px;
        }
        footer {
            margin-top: 24px;
            padding: 16px;
            border-top: 1px dotted $border;
            text-align: center;
        }
    }
    dl {
        margin: 24px 0;
        color: $txt-navy;
        text-align: center;
        dt {
            font-size: 18px;
        }
        dd {
            margin: 0;
            font-size: 24px;
        }
    }
}


/*
    페이지용 푸터
    저작권 및 사업자, 약관 등의 방침을 고정.
*/

.page-footer {
    margin: 120px auto 0;
    padding: 24px 0 64px;
    border-top: 1px dotted darken($border, 10%);
    address {
        color: rgba($txt-navy, 80%);
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        span {
            display: inline-block;
            margin: 2px;
        }
    }
    a {
        border-bottom: 1px solid transparent;
        color: rgba($txt-navy, 80%);
        font-weight: 500;
        text-decoration: none;
        &:hover {
            border-bottom-color: darken($border, 10%);
            color: $blue;
        }
    }
    nav {
        margin-top: 24px;
        font-size: 13px;
        em {
            color: $darkblue;
            font-style: normal;
        }
        a {
            margin-right: 8px;
        }
    }
}


/*
    for animation
*/

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes svgs {
    from {
        transform: translateY(100%) rotate(-50deg);
    }
    to {
        transform: translateY(calc(-100vh + -100%)) rotate(20deg);
    }
}

@keyframes svgillust {
    50% {
        transform: translateY(-24px) translate(-80px);
    }
}

@keyframes arrowmove {
    from {
        padding: 0 6px 0 0;
    }
    to {
        padding: 0 0 0 6px;
    }
}